<a href="https://colab.research.google.com/github/alexagdr90/Colab/blob/main/Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###ENLACE A ARCHIVO DRIVE

In [1]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###CARGA DEL DATASET

In [3]:
import pandas as pd
import numpy as np

In [4]:
datos = pd.read_csv('/content/drive/MyDrive/archive/winemag-data_first150k.csv', index_col=0)
datos.head(5)

  country  ...                   winery
0      US  ...                    Heitz
1   Spain  ...  Bodega Carmen Rodríguez
2      US  ...                 Macauley
3      US  ...                    Ponzi
4  France  ...     Domaine de la Bégude

[5 rows x 10 columns]

###INFORMACION DATASET

In [5]:
datos.shape

(150930, 10)

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150930 entries, 0 to 150929
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      150925 non-null  object
 1   description  150930 non-null  object
 2   designation  105195 non-null  object
 3   points       150930 non-null  int64
 4   price        137235 non-null  float64
 5   province     150925 non-null  object
 6   region_1     125870 non-null  object
 7   region_2     60953 non-null   object
 8   variety      150930 non-null  object
 9   winery       150930 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 12.7+ MB

In [8]:
datos.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [11]:
datos.price.describe()

count    137235.000000
mean         33.131482
std          36.322536
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: price, dtype: float64

In [12]:
datos.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            150920, 150921, 150922, 150923, 150924, 150925, 150926, 150927,
            150928, 150929],
           dtype='int64', length=150930)

In [14]:
datos.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [15]:
columnas = datos.columns
columnas

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [17]:
type(columnas)

pandas.core.indexes.base.Index

In [19]:
datos.tail(3)

       country  ...         winery
150927   Italy  ...      Terredora
150928  France  ...         Gosset
150929   Italy  ...  Alois Lageder

[3 rows x 10 columns]

###OBTENCION VALORES

In [20]:
datos.country

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [21]:
datos['province']

0                 California
1             Northern Spain
2                 California
3                     Oregon
4                   Provence
                 ...
150925        Southern Italy
150926             Champagne
150927        Southern Italy
150928             Champagne
150929    Northeastern Italy
Name: province, Length: 150930, dtype: object

###OBTENER DATOS POR INDICE -iloc

In [24]:
datos.iloc[:,1]

0         This tremendous 100% varietal wine hails from ...
1         Ripe aromas of fig, blackberry and cassis are ...
2         Mac Watson honors the memory of a wine once ma...
3         This spent 20 months in 30% new French oak, an...
4         This is the top wine from La Bégude, named aft...
                                ...
150925    Many people feel Fiano represents southern Ita...
150926    Offers an intriguing nose with ginger, lime an...
150927    This classic example comes from a cru vineyard...
150928    A perfect salmon shade, with scents of peaches...
150929    More Pinot Grigios should taste like this. A r...
Name: description, Length: 150930, dtype: object

In [25]:
datos.iloc[:3,1]

0    This tremendous 100% varietal wine hails from ...
1    Ripe aromas of fig, blackberry and cassis are ...
2    Mac Watson honors the memory of a wine once ma...
Name: description, dtype: object

In [26]:
datos.iloc[[2,4,10],0]

2         US
4     France
10     Italy
Name: country, dtype: object

In [28]:
datos.iloc[-6:]

       country  ...                   winery
150924  France  ...  Heidsieck & Co Monopole
150925   Italy  ...    Feudi di San Gregorio
150926  France  ...                H.Germain
150927   Italy  ...                Terredora
150928  France  ...                   Gosset
150929   Italy  ...            Alois Lageder

[6 rows x 10 columns]

In [32]:
datos.loc[1:4,['country', 'points']]

  country  points
1   Spain      96
2      US      96
3      US      96
4  France      95

In [35]:
datos.country == 'US'

0         True
1         True
2         True
3         True
4         True
          ...
150925    True
150926    True
150927    True
150928    True
150929    True
Name: country, Length: 150930, dtype: bool

In [36]:
datos.loc[datos.price.notnull()]

       country  ...                   winery
0           US  ...                    Heitz
1           US  ...  Bodega Carmen Rodríguez
2           US  ...                 Macauley
3           US  ...                    Ponzi
4           US  ...     Domaine de la Bégude
...        ...  ...                      ...
150925      US  ...    Feudi di San Gregorio
150926      US  ...                H.Germain
150927      US  ...                Terredora
150928      US  ...                   Gosset
150929      US  ...            Alois Lageder

[137235 rows x 10 columns]